  <div class='field one_row_field'>
    <%= f.label :category -%>
    <%= f.collection_select( 'category_id', categories, :id, :name, {:prompt => true}, {:id => 'categories_select'}) -%>
    <%= link_to 'Add category', new_admin_category_path(:dialog => true, :width => 300, :height => 250),
                                                     { :class => 'button', :id => 'add-category-link' } %>
    <%= link_to('Delete category','',
                :remote => true,
                :title => "Delete selected Category",
                :id => "delete-category-link",
                :method => :delete,
                :confirm => "This will delete the category permanently",
                :class => "button-delete") %>

  </div>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){

      $("#delete-category-link").live('click' , function(){
        var category_id = "";
        $("select#categories_select option:selected").each(function () { category_id += $(this).val(); });
        $.ajax({
          type: "DELETE",
          url: "<%= admin_category_path %>",
          error: function(){ alert("An error has been occurred. Contact your system administrator"); },
          data : [
            {name:"id",value: category_id },
            {name:"category",value: category_id },
        });
        return false;
      });
    });

  </script>
<% end %>

