<%= form_for [:admin, @product] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @product,
          :include_object_name => true
        } %>

  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest'  -%>
  </div>

  <%= render :partial => 'admin/categories/categories', :locals => {:f => f, :resource => @product, :categories => @categories}%>
  
  <div class='field one_row_field'>
    <%= f.label :price -%>
    <%= f.text_field :price, :class=> 'price'  -%>
  </div>
  
  <div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <% [:description].each_with_index do |part, part_index| %>
          <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
            <%= link_to part.to_s.titleize, "##{part}" %>
          </li>
        <% end %>
      </ul>

      <div id='page_part_editors'>
        <% [:description].each do |part| %>
          <div class='page_part' id='<%= part %>'>
            <%= f.text_area part, :rows => 20, :class => 'wymeditor widest' -%>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :dates %>
    <% unless @product.product_options.blank? %> 
      <%  @product.product_options.each_with_index do |option, i| %>
        <%=  render :partial => 'product_option_fields', :locals => { :product_option => option, :index => i } %>
      <% end %>
    <% end %>
    <div id="product_options"></div>
    <p><%=  link_to 'Add an Option', admin_add_product_option_path, :remote => true, :event_id => @product.id, :method => :post  %></p>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.products.product'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @product.name)
              } %>
<% end -%>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'custom' %>
<% end %>

<% content_for :javascripts do %>
<%= javascript_include_tag 'jquery.numeric' %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
      $(".price").numeric({
        negative: false
      });
    });

  </script>

<% end %>
