<article class="product single clearfix">
  <aside class="section-title divider">
    
    <% unless is_single %>
      <h1><%= link_to product.title, product_path(product) %></h1>
    <% else %>
      <h1><%= product.title %></h1>
    <% end -%>

    <% unless product.description.blank? %>
      <%=raw "<div class=\"description\">#{product.description}</div>" %>
    <% end -%>

    <% unless product.details.blank? %>
      <%=raw "<h3>Product Details</h3><div class=\"details\">#{product.details}</div>" %>
    <% end -%>

    <%= form_tag '/cart' do %>

      <% unless product.product_options.blank? %>
        <%=raw "<h3>Product Options</h3><div class=\"options\">" %>
        <% product.product_options.each do |option| %>
          <label><input type="radio" name="product-option" value="<%= option.price_override %>" id="option-<%= option.id %>"/> <%=raw option.option_name %> <%= number_to_currency(option.price_override) unless option.price_override.blank? %></label>
        <% end -%>
      <% end -%>

      <h2 class="price">Price: <%= number_to_currency(product.price) %></h2>

      <%= hidden_field_tag 'product_id', product.id  %>
      <% content_tag :button, :type => :submit, :class => "submit button" do %>
         Buy
      <% end %>
    <% end %>

    <%= render :partial => '/shared/edit_bug', :locals => { :obj => product, :edit_path => edit_admin_product_path(product) }%>
  </aside>
  <section class="summary">
    <%- unless product.images.blank? %>
      <div class="slider">
        <ul class="product-images">
        <% product.images.each_with_index do |image, index| %>
          <li>
          <%= image_tag image.thumbnail("290x").url, :alt => [product.title, index].join(" "), 'data-uid' => image.image_uid, 'data-desktop_width' => 490, 'data-giant_desktop_width' => 730, :class => 'responsive' -%>
          </li>
        <% end %>
        </ul>
      </div>
    <%- end %>
  </section>
</article>
